*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(213, 211, 211);
}
#signup-page{
    width: 70%;
    height: 600px;
    margin: auto;
    display: flex;
    margin-top: 50px;
    border-radius: 5px;
    border: 1px solid black;
}
#left-side{
    width: 60%;
    height: 600px;
    border-radius: 5px;
    background: url(pngtree-contemporary-authentic-3d-renderings-of-web-login-page-templates-image_3904126.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
#right-side{
    width: 40%;
    height: 600px;
    border-radius: 5px;
    background-color: white;
    display: flex;
    align-items: center;
}
#detailsfield{
    height: 500px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
#detailsfield h1{
    width: fit-content;
}
#detailsfield input{
    max-width: 300px;
}
#detailsfield button{
    max-width: 300px;
}